<div bsModal class="row modal" #addClasa="bs-modal" tabindex="-1" style="margin-top:200px;"> 
  <div class="col-md-6 col-sm-6 col-lg-8 mx-auto my-4" id="modal">
    <div class="form-container border border-light p-5">
      <form class="text-center" [formGroup]="addClasaForm">
        <p class="h4 mb-4"> Adauga Clasa</p>
        <input type="text" class="form-control mb-4" placeholder="Denumire" formControlName="denumire"
        autocomplete="off">
        <input type="number" class="form-control mb-4" placeholder="Antrenor Id" formControlName="antrenorId"
        autocomplete="off">
        <input type="text" class="form-control mb-4" placeholder="Data" formControlName="data"
        autocomplete="off">
        <input type="text" class="form-control mb-4" placeholder="Ora" formControlName="ora"
        autocomplete="off">
        <input type="text" class="form-control mb-4" placeholder="Durata" formControlName="durata"
        autocomplete="off">
        <input type="text" class="form-control mb-4" placeholder="Participanti" formControlName="participanti"
        autocomplete="off">
        

      </form>
      <div class = "container-button">
        <button type="button" class="btn btn-danger" (click)="hide()">Exit</button>
        <button type="button" class="btn btn-success" (click)="add()" [disabled]="addClasaForm.invalid" >Add</button>
        
      </div>
    </div>
      <p *ngIf="succes" style="color: green; font-size: 22px;"> Clasa adaugata cu succes!</p>
      <p *ngIf="succes === false" style="color: red; font-size: 22px;">Ceva nu este bine.</p>
    
  </div>
</div>

